@using Casgem_Portfolio.Models.Entities
@model List<TblMessage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
    int count = 0;
}



<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen Adı</th>
        <th>Gönderen Mail</th>
        <th>Konu</th>
        <th>İçerik</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.SenderMail</td>
            <td>@item.MessageSubject</td>
            <td>@item.Content</td>
            <td>@Html.ActionLink("Sil", "DeleteMessage", new { id = @item.MessageID }, new { @class = "btn btn-danger", onclick = "return confirm('Mesajı Gerçekten Silmek İstiyor Musunuz?')" }) </td>
            <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-warning">Mesajı Aç</a></td>
        </tr>

    }
</table>

<a href="/Message/AddMessage" class="btn btn-success"> Yeni Mesaj Girişi </a>

