

@{
    Layout = null;
}


<!doctype html>
<html lang="en">

@Html.Partial("PartialHead")

<body>
    <!-- header -->
    @Html.Partial("PartialNavbar")
    <!-- //header -->
    <!-- banner section -->
    @Html.Action("PartialFeature")
    <!-- //banner section -->
    <!-- home page about section -->
    @Html.Action("PartialWhoami")
    <!-- //home page about section -->
    <!-- home page second section -->
    @Html.Action("MyResume")


    <!-- //home page second section -->
    <!-- home page services section -->
    @Html.Action("PartialServices")
    <!-- //home page services section -->
    <!-- stats -->
    @Html.Action("PartialStatistic")
    <!-- //stats -->
    <!-- testimonials -->
    @Html.Action("PartialReferences")
    <!-- //testimonials -->
    <!-- home page video popup section -->
    @Html.Partial("PartialAbout")
    <!-- //home page video popup section -->
    <!-- freelance hire me -->
    @Html.Partial("PartialIframe")
    <!-- //freelance hire me -->
    <!-- Footer -->
    @Html.Partial("PartialFooter")
    <!-- //Footer -->
    <!-- all js scripts and files here -->
    @Html.Partial("PartialScript")


</body>

</html>